{{ with site.GetPage "/" }}
{{ with .Params.cta }}
<section class="call-to-action section-sm" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cta-overlay-container">
          <div class="block">
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
            {{ with .button }}
            {{ if .enable }}
            <a class="btn btn-main" href="{{ .link | relLangURL }}">{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}